.table-container {
  border-radius: 2px;
  box-shadow: 0 0 6px #bfbfbf;
  margin: 0 2% 2%;
  width: 100%;
  background-color: #ffffff;
  overflow: auto;
}

table {
  border-collapse: collapse;
  border: 1px solid #eee;
  width: 99%;
  margin: 5px;
  position: relative;
}

th,
td {
  color: rgb(117, 117, 117);
  border: 1px solid #eee;
  padding: 1% 0;
  border-collapse: collapse;
}
th {
  background: #f3f3f3;
  position: sticky;
  top: 0;
  z-index: 3;
}

.group-switch {
  padding: 25px;
  display: flex;
}

.switch {
  margin-right: 10px;
}

.group-header {
  padding: 10px;
  width: 100%;
  text-align: left;
}

.actions {
  margin-right: 10px;
}
