.container {
  display: flex;
  height: 100vh;
  background-color: #f0f0f0;
}

.side-bar {
  height: 100%;
  width: 5%;
  background-color: #434343;
  display: flex;
  flex-direction: column;
}

.nav-icons {
  padding: 18px;
}

.nav {
  border-radius: 2px;
  padding: 3%;
  box-shadow: 0 0 6px #bfbfbf;
  margin: 2%;
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.nav-container {
  width: 100%;
  display: flex;
  flex-flow: wrap;
}

.nav-buttons {
  margin: 10px;
}

.active-link {
  background: #616161;
}

.wrapper {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
}
